{% extends "home/base.html" %}

{% block title %}Submit An Idea{% endblock %}

{% block extra_css %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .card {
        box-shadow: 0 18px 50px rgba(0, 0, 0, 0.72) !important;
        margin: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <h2>Submit Your Idea</h2>
        <hr>
        <div class="mb-3">
            <label class="form-label">Idea Title</label>
            <input name="idea_title" required type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Idea Description</label>
            <textarea name="idea_description" required class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit Idea</button>
    </form>
</div>
{% endblock %}